<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.branch.branchster" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="io.branch.branchster.CustomApplicationClass"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name="io.branch.branchster.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="branchsters" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="yz00.app.link" android:pathPrefix="@string/app_id" />
                <data android:scheme="https" android:host="yz00.app.link" />
                <data android:scheme="https" android:host="yz00-alternate.app.link" />
            </intent-filter>

        </activity>

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="@string/branch_key" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="@string/branch_key_test" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" /> <!-- Set to true to use Branch_Test_Key -->

        <!-- Branch install referrer tracking (optional) -->
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="io.branch.branchster.MonsterViewerActivity"
            android:theme="@style/Theme.Default"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <!-- Deep link path for auto deep linking -->
            <meta-data android:name="io.branch.sdk.auto_link_path" android:value="@string/auto_link_path"/>
            <!-- Optional request ID for launching this activity on auto deep link key matches -->
            <meta-data android:name="io.branch.sdk.auto_link_request_code" android:value="@integer/AutoDeeplinkRequestCode"/>
        </activity>

        <activity
            android:name="io.branch.branchster.MonsterCreatorActivity"
            android:theme="@style/Theme.Default"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    </application>

</manifest>